html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.grid-contain {
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #020a31;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

nav .nav-logo-container img {
  width: 220px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: black;
  border-bottom: 1px solid black;
}

.blogpost-img-container {
  padding: 0 50px 40px;
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
}

.blogpost-main-container h3 {
  font-size: 2rem;
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 10px;
}

.blogpost-main-container article h2 {
  font-size: 3.5rem;
}

.blogpost-main-container article p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  background-color: #e6e9ed;
  text-align: center;
  padding-bottom: 50px;
}

.contact-main-container div {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contact-main-container a {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.contact-main-container p {
  font-size: 1.3rem;
}

.contact-main-container .contact-left,
.contact-right {
  text-align: initial;
  margin-top: 85px;
}

.contact-main-container img {
  width: 100px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
