html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-contain {
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #020a31;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

nav .nav-logo-container img {
  width: 220px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: black;
  border-bottom: 1px solid black;
}

.main-contain {
  height: 100vh;
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

.main-contain h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 6rem;
  color: white;
}

.main-contain h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  align-self: flex-end;
}

.blogs-main {
  display: grid;
}

.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
  border-radius: 15px;
}

.blogs-news-info-container {
  grid-column: 2;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
}

.blogs-posts-container {
  padding: 0 50px 40px;
  font-family: "Poppins", sans-serif;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.grid-container {
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.blogs-posts-container .post-container {
  font-size: 1.5rem;
}

.blogs-posts-container .post-container p:first-of-type {
  font-weight: bold;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
  width: 100%;
  border-radius: 15px;
}

.blogs-button {
  border: 2px solid #47cfac;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.blogs-button:hover {
  background-color: #47cfac;
  color: white;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
