html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #020a31;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

nav .nav-logo-container img {
  width: 220px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: black;
  border-bottom: 1px solid black;
}

.main-contain {
  height: 100vh;
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 6rem;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  align-self: flex-end;
}

.button-shido {
  justify-self: center;
}

.button-shido button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  width: 200px;
  height: 50px;
  background-color: #020a31;
  color: white;
  border: none;
  border-radius: 13px;
}
