html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #020a31;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

nav .nav-logo-container img {
  width: 220px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  color: black;
  border-bottom: 1px solid black;
}

.main-contain {
  height: 100vh;
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

.main-contain h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 6rem;
  color: white;
}

.main-contain h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  align-self: flex-end;
}

.button-shido {
  justify-self: center;
}

.button-shido button {
  width: 200px;
  height: 50px;
  background-color: #020a31;
  border: none;
  border-radius: 13px;
}

.button-shido button a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.blogs-main {
  display: grid;
  font-family: "Poppins", sans-serif;
}

.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 150px 100px;
}

.blogs-main-news {
  display: flex;
}

.blogs-main-news h3 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.blogs-news-container__img img {
  width: 80%;
}

.blogs-news-info-container {
  align-self: center;
  margin-top: 60px;
}

.blogs-news-info-container h2 {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 30px;
}

.blogs-news-info-container p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 50px;
}

.blogs-post-container {
  padding: 0 50px;
}

.blogs-post-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.blogs-button {
  border: 2px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.blogs-button:hover {
  background-color: #47cfac;
  color: white;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  padding: 0 100px;
}

.post-container__grid {
  display: grid;
  grid-template-rows: auto;
}

.post-container__grid img {
  width: 100%;
  border-radius: 15px;
}

.post-container__grid p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.post-container__grid a {
  justify-self: flex-start;
  margin-top: 20px;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background-color: #020a31;
  text-align: center;
}

footer p {
  display: inline-block;
  color: white;
  font-family: "Poppins";
  margin-top: 40px;
  font-size: 1.5rem;
}
